apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
  labels:
    app: devops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
        - name: devops-app
          image: asia-northeast3-docker.pkg.dev/your-gcp-project-id/devops-repo/nginx-sample:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
     
